<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ran-Log's Website - About</title>
</head>
<body>

  <section id="about" class="bubble-container">
    <h1>About Us</h1>
    <p>This is where you would learn about this site, now it's empty.</p>
    <div class="custom-border"></div>
  </section>
</body>
</html>
