<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ran-Log's Website - Contact</title>
</head>
<body>

  <section id="contact" class="bubble-container contact-section">
    <h1>Contact Us</h1>
    <p>Get in touch with us through the contact form or via email.</p>
    <h4>Email:</h4>
    <p>contact@ranlog.com</p>
    <div class="custom-border"></div>
  </section>
</body>
</html>
