<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ran-Log's Website - Home</title>
</head>
<body>
  <section id="home" class="bubble-container">
    <h1>Welcome to my Home Page</h1>
    <p>This is where the home of the site would go.</p>
    <div class="custom-border"></div>
  </section>
</body>
</html>
